* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

body {
    background-color: #000000;
}

img {
    width: 450px;
    height: 374px;
    margin-top: 40px;
    margin-left: 640px;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 15px;
}

.input-1 {
    display: inline-block;
    margin-left: 630px;

}

input {
    background-color: #ffffff;
    opacity: 25%;
    border-radius: 8px;
    height: 38px;
    width: 200px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 500;
}

button {
    background-color: rgba(174, 195, 70, 1);
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 760px;
    width: 150px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

h2{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 730px;
}

span{
    font-size: 50px;
}



@media screen and (max-width: 900px) {

    header {
        display: none;
    }

    img {
        width: 350px;
        height: 270px;
        margin-top: 50px;
        margin-left: 60px;
    }

    h1 {
        width: 300px;
        height: 20px;
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 50px;
        line-height: 15px;
        margin-top: 15px;
        margin-left: 80px;
        
    }



.input-1{
    background-color: #ffffff;
    opacity: 25%;
    border-radius: 8px;
    height: 38px;
    width: 100px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 120px;
   
}

input{
    width: 100px;
}

button{
    margin: 150px;
    margin-top: 40px;
}

h2{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 15px;
    margin-left: 110px;
}

}